*.pyc

*.pkl
*.ipynb

bin/
data/
graphs/
**/graphs/
**/min_dfscodes/
**/min_dfscode_tensors/
tensorboard/
tmp/
images/
*.directory
__pycache__
**/__pycache__
logs/
.vscode/
kgpip_results/

.ipynb_checkpoints
**/.ipynb_checkpoints

venv/
.ipynb_checkpoints/
slurm-*
.idea/

kaggle_datasets/*
!kaggle_datasets/extract_zips.py
benchmark_datasets/*
!benchmark_datasets/benchmark_datasets_info.csv
!benchmark_datasets/benchmark_datasets.md

flaml.log
autosklearn.log

loss_values.txt

training/datasets/graph4code_large_p1/graph4code_large_p1.txt
training/datasets/graph4code_large_p2/graph4code_large_p2.txt
training/datasets/graph4code_large_p3/graph4code_large_p3.txt
training/datasets/graph4code_al_training_no_abstract/graph4code_al_training_no_abstract.txt
training/model_save/


results/

# figures
figure_kgpip_vs_volcano.pdf
figure_counts_of_pipelines_with_learners_or_transformers.pdf
figure_pipeline_coverage.pdf
/training/model_save/
